{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

<h1>Active users</h1>

<p>
    <a href="{{base_path}}/users/new" class="btn btn-success">Add a new user</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email address</th>
            <th>Admin rights</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for user in users %}

        <tr>
            <td><a href="{{base_path}}/users/{{user.id}}">{{user.name}}</a></td>
            <td>{{user.email}}</td>
            {% if user.admin_rights == true %}
            <td><label class="label label-primary active">Admin</td>
            {% else %}
            <td></td>
            {% endif %}
            <th><a class="btn btn-default btn-sm" href="{{base_path}}/users/{{user.id}}">Change</a></th>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}