<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            Customer Database Demo
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="{{base_path}}">DEMO</a>
                </div>
                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a href="{{base_path}}/users">Users</a></li>
                        <li><a href="{{base_path}}/customers">Customers</a></li>
                        <li><a href="{{base_path}}/queries">Queries</a></li>
                        <li><a href="{{base_path}}/qsum">Summary</a></li>
                    </ul>
                    {% if user_logged_in %}
                    <form class="navbas-form navbar-right" method="post" action="{{base_path}}/logout">
                        <div class="form-group">
                            <button type="submit" class="btn btn-link">Log out ({{user_logged_in.name}})</button>
                        </div>
                    </form>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{base_path}}/login">Sign in</a></li>
                    </ul>                    
                    {% endif %}
                </div>
            </div>
        </nav>

        <div id="main-container">
            <!-- Dynaaminen sisältö tulee tähän -->
            {% block content %}{% endblock %}
        </div>

        {% block body %}
        <!-- jQuery -->
        <script src="{{base_path}}/vendor/jquery.min.js"></script>

        <!-- Bootstrap (skriptitiedosto) -->
        <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

        <!-- Oma skriptitiedostomme -->
        <script src="{{base_path}}/assets/js/site.js"></script>
        {% endblock %}
        <footer>
            <center>
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
                </a>
                <br />This work is licensed under a 
                <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>
            </center>
        </footer>
    </body>
</html>
