{% extends "base.html" %}
{% block content %}



{% for cconsent in cconsents %}
<form>
    <div class="container">
        <br><p>Consents</p>

        <div class="btn-group col-xs-12" data-toggle="buttons">

            {% if cconsent.consent == 1 %}
            <label class="btn btn-primary active">
                <input type="checkbox" name="consent" id="1" value="Phone">Phone
            </label>
            {% elseif  %}
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="6" value="Phone">Phone
            </label>
            {% if cconsent.consent == 2 %}
            <label class="btn btn-primary active">
                <input type="checkbox" name="consent" id="2" value="Email">Email
            </label>
            {% else %}
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="2" value="Email">Email
            </label>
            {% if cconsent.consent == 3 %}
            <label class="btn btn-primary active">
                <input type="checkbox" name="consent" id="3" value="SMS">SMS
            </label>
            {% else %}
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="3" value="SMS">SMS
            </label>
            {% if cconsent.consent == 4 %}
            <label class="btn btn-primary active">
                <input type="checkbox" name="consent" id="4" value="Direct">Direct
            </label>
            {% else %}
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="4" value="Direct">Direct
            </label>
            {% if cconsent.consent == 4 %}
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="5" value="Direct">ThirdParty
            </label>
            {% endif %}
        </div>
    </div>
</form>
{% endfor %}
{% endblock %}