{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

<h1>Welcome to Customer Database</h1>
<!-- Kaikki lomakkeen elementit form-tagin sisään -->
<form method="post" action="{{base_path}}/login">
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
        <label>Email address</label>
        <input name=email class="form-control" type="text">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
        <label>Password</label>
        <input name=password class="form-control" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock %}