{% extends "base.html" %}
{% block content %}
<h1>Select the consents</h1>

<form method="post" action="{{base_path}}/queries/new">
    <div class="container">
        <br><p>Choose one or several</p>
        <div class="btn-group col-xs-12" data-toggle="buttons">
            <label class="btn btn-primary">
                <input name="email_consent" type="checkbox" value="1" >Email
            </label>
            <label class="btn btn-primary">
                <input name="address_consent" type="checkbox" value="1">Direct
            </label>
            <label class="btn btn-primary">
                <input name="number_consent" type="checkbox" value="1">Phone
            </label>

            <label class="btn btn-primary">
                <input name="sms_consent" type="checkbox" value="1">SMS
            </label>

            <label class="btn btn-primary">
                <input name="thirdparty_consent" type="checkbox" value="1">ThirdParty
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Give a name to the query</label>
        <input name="name" class="form-control" value="" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Create</button>
    </div>
</form>
{% endblock %}
