{% extends "base.html" %}
{% block content %}
<h1>Customer xx</h1>

<form>
    <div class="container">
        <br><p>Consents</p>
        <div class="btn-group col-xs-12" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="phone" value="Phone">Phone
            </label>
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="email" value="Email">Email
            </label>
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="SMS" value="SMS">SMS
            </label>
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="direct" value="Direct">Direct
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>Name</label>
        <input class="form-control" value="xx" type="text">
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input class="form-control" value="ak@ak.fi" type="text">
    </div>
    <div class="form-group">
        <label>Post address</label>
        <input class="form-control" value="ss" type="text">
    </div>
    <div class="form-group">
        <label>Phone number</label>
        <input class="form-control" value="0101111" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Delete this customer</button>
    </div>
</form>
{% endblock %}