{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

{% if errors %}
{% for e in errors %}
<div class="alert alert-danger">
    {{e}}
</div>
{% endfor %}
{% endif %}

<h1>Add a subscription to customer {{customer.name}}</h1>

<form method="post" action="{{base_path}}/customers/{{customer.id}}/newsubs">
    <div class="form-group">
        <label>Name</label>
        <input name="customername" class="form-control" value="{{customer.name}}" type="text" readonly>
    </div>
    <div class="form-group">
        <label>Select a product</label>     
            <select class="form-control" autofocus='autofocus' name="product" style='width:350px;'>
                {% for product in products %}
                    <option value="{{product.id}}">{{product.name}}</option>
                {% endfor %}
            </select>
    <div class="form-group">
        <label>Start date</label>
            <input type=date id='sd' class="form-control" name='startdate'>
            <script>document.getElementById('sd').value = new Date().toISOString().split('T')[0];
            </script>
    </div>
    <div class="form-group">
        <label>CustomerID</label>
        <input name="customerid" class="form-control" value="{{customer.id}}" type="text" readonly>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add</button>
    </div>
</form>
{% endblock %}