{% extends "base.html" %}
{% block content %}

{% if message %}
<div class="alert alert-success">{{message}}</div>
{% endif %}

{% if error %}
<div class="alert alert-danger">
    {{error}}
</div>
{% endif %}

{% if errors %}
{% for e in errors %}
<div class="alert alert-danger">
    {{e}}
</div>
{% endfor %}
{% endif %}

<h1>Create a user</h1>

<form method="post" action="{{base_path}}/users/new">
    <div class="container">
        <br><p>Consents</p>
        <div class="btn-group col-xs-12" data-toggle="buttons">
            <label class="btn btn-primary">
                <input name="admin_rights" type="checkbox" value="1">Admin
            </label>
        </div>
    </div>

    <div class="form-group">
        <label>Name</label>
        <input name="name" class="form-control" autofocus="autofocus" value="" type="text">
    </div>
    <div class="form-group">
        <label>Email address</label>
        <input name="email" class="form-control" value="" type="text">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input name="password" class="form-control" value="" type="text">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
{% endblock %}
