{% extends "base.html" %}
{% block content %}
<h1>Database summary</h1>

<form>
    <div class="container">
        <br><p>Choose one or several</p>
        <div class="btn-group col-xs-12" data-toggle="buttons">
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="phone" value="Phone">Phone 
            </label>
            
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="email" value="Email">Email
            </label>
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="SMS" value="SMS">SMS
            </label>
            <label class="btn btn-primary">
                <input type="checkbox" name="consent" id="direct" value="Direct">Direct
            </label>
        </div>
    </div>
    <div class="form-group">
        <label>Give a name to the query</label>
        <input class="form-control" value="" type="text">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info">Create</button>
    </div>
</form>
{% endblock %}